In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('./영등포구 부동산 실거래가 정보.csv')

C:\Users\406\AppData\Local\Temp\ipykernel_4996\1379084494.py:1: DtypeWarning: Columns (15,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./영등포구 부동산 실거래가 정보.csv')

In [40]:
df.columns

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일',
       '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명'],
      dtype='object')

In [41]:
# 필요한 컬럼만 선택
columns = ['접수연도', '법정동코드', '본번', '부번', '계약일', '물건금액(만원)', '건물면적(㎡)', 
           '토지면적(㎡)', '층', '건축년도', '건물용도']

In [42]:
df = df[columns]

In [43]:
df

,접수연도,법정동코드,본번,부번,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도
0,2024,10800,46.0,1.0,20240719,99750,84.93,0.00,14.0,1998.0,아파트
1,2024,11000,50.0,0.0,20240719,270000,118.12,0.00,2.0,1971.0,아파트
2,2024,11700,121.0,130.0,20240719,13650,15.05,0.00,8.0,2015.0,아파트
3,2024,12800,164.0,0.0,20240718,20400,30.00,15.00,4.0,2010.0,연립다세대
4,2024,13200,3002.0,0.0,20240717,76000,48.26,0.00,5.0,1974.0,아파트
...,...,...,...,...,...,...,...,...,...,...,...
104320,2006,11200,16.0,1.0,20060102,13070,45.55,NaN,17.0,1999.0,아파트
104321,2006,10300,94.0,119.0,20060102,3500,25.74,37.74,11.0,1992.0,오피스텔
104322,2006,10300,94.0,119.0,20060102,3500,25.74,37.74,11.0,1992.0,오피스텔
104323,2006,11000,61.0,0.0,20060102,103000,147.71,NaN,26.0,2003.0,아파트
104324,2006,12600,38.0,1.0,20060101,18000,59.40,NaN,2.0,1998.0,아파트

In [44]:
df.isna().sum()

접수연도            0
법정동코드           0
본번           9576
부번           9576
계약일             0
물건금액(만원)        0
건물면적(㎡)         0
토지면적(㎡)     40634
층            9576
건축년도          346
건물용도            0
dtype: int64

In [45]:
# # 결측치 처리
# df['권리구분'].fillna('입주', inplace=True)

In [46]:
df

,접수연도,법정동코드,본번,부번,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도
0,2024,10800,46.0,1.0,20240719,99750,84.93,0.00,14.0,1998.0,아파트
1,2024,11000,50.0,0.0,20240719,270000,118.12,0.00,2.0,1971.0,아파트
2,2024,11700,121.0,130.0,20240719,13650,15.05,0.00,8.0,2015.0,아파트
3,2024,12800,164.0,0.0,20240718,20400,30.00,15.00,4.0,2010.0,연립다세대
4,2024,13200,3002.0,0.0,20240717,76000,48.26,0.00,5.0,1974.0,아파트
...,...,...,...,...,...,...,...,...,...,...,...
104320,2006,11200,16.0,1.0,20060102,13070,45.55,NaN,17.0,1999.0,아파트
104321,2006,10300,94.0,119.0,20060102,3500,25.74,37.74,11.0,1992.0,오피스텔
104322,2006,10300,94.0,119.0,20060102,3500,25.74,37.74,11.0,1992.0,오피스텔
104323,2006,11000,61.0,0.0,20060102,103000,147.71,NaN,26.0,2003.0,아파트
104324,2006,12600,38.0,1.0,20060101,18000,59.40,NaN,2.0,1998.0,아파트

In [47]:
# df['권리구분'].unique()

In [48]:
df

,접수연도,법정동코드,본번,부번,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도
0,2024,10800,46.0,1.0,20240719,99750,84.93,0.00,14.0,1998.0,아파트
1,2024,11000,50.0,0.0,20240719,270000,118.12,0.00,2.0,1971.0,아파트
2,2024,11700,121.0,130.0,20240719,13650,15.05,0.00,8.0,2015.0,아파트
3,2024,12800,164.0,0.0,20240718,20400,30.00,15.00,4.0,2010.0,연립다세대
4,2024,13200,3002.0,0.0,20240717,76000,48.26,0.00,5.0,1974.0,아파트
...,...,...,...,...,...,...,...,...,...,...,...
104320,2006,11200,16.0,1.0,20060102,13070,45.55,NaN,17.0,1999.0,아파트
104321,2006,10300,94.0,119.0,20060102,3500,25.74,37.74,11.0,1992.0,오피스텔
104322,2006,10300,94.0,119.0,20060102,3500,25.74,37.74,11.0,1992.0,오피스텔
104323,2006,11000,61.0,0.0,20060102,103000,147.71,NaN,26.0,2003.0,아파트
104324,2006,12600,38.0,1.0,20060101,18000,59.40,NaN,2.0,1998.0,아파트

In [49]:
# 결측치 처리
df.dropna(inplace=True)

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [51]:
# 날짜 관련 컬럼 처리
df['계약일'] = pd.to_datetime(df['계약일'])
df['계약_연도'] = df['계약일'].dt.year
df['계약_월'] = df['계약일'].dt.month
df['계약_일'] = df['계약일'].dt.day

In [52]:
# 숫자형 변수로 변환
df['건물용도'] = df['건물용도'].astype('category').cat.codes

df['건물용도'].astype('category'):
이 부분은 건물용도 열을 범주형 데이터로 변환합니다. 범주형 데이터는 명목형 데이터를 처리하기 위해 사용됩니다.
예를 들어, 건물용도 열에 '주거용', '상업용', '산업용'과 같은 문자열 값이 있다면, 이 문자열들을 각각의 범주로 인식하게 됩니다.

.cat.codes:
이 부분은 범주형 데이터를 정수로 변환합니다.
각 고유한 범주에 대해 고유한 정수 코드가 할당됩니다. 예를 들어, '주거용'은 0, '상업용'은 1, '산업용'은 2와 같이 변환됩니다.
이렇게 변환된 정수 값들은 모델이 범주형 데이터를 이해할 수 있게 해줍니다.

In [53]:
# 필요 없는 컬럼 제거
df.drop(['계약일'], axis=1, inplace=True)

In [54]:
# 로그 변환된 타겟 변수
df['log_물건금액(만원)'] = np.log1p(df['물건금액(만원)'])

In [55]:
# 특성과 타겟 변수 분리
X = df.drop(['물건금액(만원)', 'log_물건금액(만원)'], axis=1)
y = df['log_물건금액(만원)']

In [56]:
# 훈련셋과 테스트셋 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [57]:
# 데이터 스케일링
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [58]:
# 랜덤 포레스트 모델 학습
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [59]:
# 테스트 데이터로 모델 평가
y_pred_log = model.predict(X_test)
y_pred = np.expm1(y_pred_log)  # 지수 변환으로 원래 스케일로 복원

In [60]:
# 예측 금액이 음수가 되지 않도록 수정
y_pred = np.maximum(y_pred, 0)

In [61]:
mae = mean_absolute_error(np.expm1(y_test), y_pred)
mse = mean_squared_error(np.expm1(y_test), y_pred)
rmse = mean_squared_error(np.expm1(y_test), y_pred, squared=False)
r2 = r2_score(np.expm1(y_test), y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"RMSE: {rmse}")
print(f"R2 Score: {r2}")

MAE: 2764.5815018637672
MSE: 30806073.449115667
RMSE: 5550.321923016328
R2 Score: 0.9797961780530188

In [62]:
df.head(2)

,접수연도,법정동코드,본번,부번,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도,계약_연도,계약_월,계약_일,log_물건금액(만원)
0,2024,10800,46.0,1.0,99750,84.93,0.0,14.0,1998.0,0,1970,1,1,11.510432
1,2024,11000,50.0,0.0,270000,118.12,0.0,2.0,1971.0,0,1970,1,1,12.506181

In [72]:
# 새로운 데이터 준비 (실제로는 올해의 데이터)
new_data = pd.DataFrame({
    '접수연도': [2024],
    '자치구코드': [11110],
    '법정동코드': [1111010100],
    '지번구분': [1],
    '본번': [100],
    '부번': [0],
    '계약_연도': [2025],
    '계약_월': [7],
    '계약_일': [15],
    '건물면적(㎡)': [84.5],
    '토지면적(㎡)': [60.0],
    '층': [10],
    '건축년도': [2010],
    '건물용도': [0]  # 숫자형 변수로 변환된 값
})

In [74]:
# 기존 데이터와 동일하게 전처리 (컬럼 순서를 명확히)
new_data = new_data[X.columns]

In [75]:
# 스케일링 적용
new_data_scaled = scaler.transform(new_data)

In [76]:
# 모델을 사용하여 예측
predicted_price_log = model.predict(new_data_scaled)
predicted_price = np.expm1(predicted_price_log)  # 지수 변환으로 원래 스케일로 복원

In [77]:
# 예측 금액이 음수가 되지 않도록 수정
predicted_price = np.maximum(predicted_price, 0)

In [78]:
# 물가 상승률 반영 (예시 물가 상승률 데이터 사용)
inflation_rates = {
    2023: 0.02,
    2024: 0.025
}
base_year = 2023
target_year = 2024

In [79]:
# 물가 상승률 반영
base_year = 2023  # 마지막 학습 연도
target_year = 2024

In [80]:
if base_year in inflation_rates and target_year in inflation_rates:
    inflation_adjustment = (1 + inflation_rates[target_year]) / (1 + inflation_rates[base_year])
    adjusted_price = predicted_price * inflation_adjustment
else:
    adjusted_price = predicted_price  # 물가 상승률 데이터가 없는 경우 조정하지 않음

In [82]:
print(f"Predicted price for the new data: {adjusted_price[0]:.2f} 만원")

Predicted price for the new data: 58494.94 만원